In [1]:
import pandas as pd
from pathlib import Path
from typing import List, Dict, Tuple
import numpy as np
pd.options.display.float_format = '{:.5f}'.format

In [7]:
features = pd.read_csv(Path("../data/base/features.csv"))
vitrine = pd.read_csv(Path("../data/base/vitrine.csv"))

In [8]:
features = pd.read_csv(Path("../data/base_8_2_none/features.csv"))

In [11]:
features.content_he_mean_answered_correctly.median()

0.6313962801459464

In [12]:
features.content_he_part_sum_answered_correctly.median()

12535037.0

In [9]:
features.abs_chng_timestamp.median()

30825.0

In [10]:
features.user_ema_answered_correctly.median()

0.5820437978734825

In [49]:
vitrine

,id,timestamp,user_id,content_id,content_type_id,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,part,concept,intention,solving_question,starter,kmean_cluster
0,365541,0,7136928,7900,0,0,nan,NaN,1,nan,nan,nan,nan,0
1,365542,23989,7136928,7876,0,0,21000.00000,False,1,nan,nan,nan,nan,13
2,365543,48079,7136928,175,0,0,20000.00000,False,1,nan,nan,nan,nan,13
3,365544,74835,7136928,1278,0,0,21000.00000,False,2,nan,nan,nan,nan,11
4,365545,192811,7136928,2063,0,0,20000.00000,False,3,nan,nan,nan,nan,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26887,101109066,2313772645,2145262856,9106,0,0,18000.00000,True,5,nan,nan,nan,nan,1
26888,101109067,2313888806,2145262856,4506,0,1,18000.00000,True,5,nan,nan,nan,nan,16
26889,101109068,2314051785,2145262856,3854,0,0,25000.00000,True,5,nan,nan,nan,nan,1
26890,101109069,2314404971,2145262856,4405,0,0,56000.00000,True,5,nan,nan,nan,nan,1
26891,101109070,2314786293,2145262856,8954,0,0,37000.00000,True,5,nan,nan,nan,nan,1

In [9]:
features

,id,user_id,timestamp,prior_question_elapsed_time,prior_question_had_explanation,part,kmean_cluster,lect_user_part,lect_user_kmean_cluster,lect_user,...,rel_content_cl_mean_answ,rel_content_he_cl_mean_answ,rel_user_content_mean_answ,rel_user_content_he_mean_answ,rel_user_content_ema_answ,rel_user_content_he_ema_answ,mul_user_content_mean_answ,mul_user_content_ema_answ,mul_user_content_he_mean_answ,mul_user_content_he_ema_answ
0,365548.00000,7136928.00000,290933.00000,38000.00000,0,4.00000,6.00000,0.00000,0.00000,0.00000,...,1.09489,0.61355,0.23810,0.24026,0.28826,0.29088,0.08571,0.10377,0.08494,0.10284
1,365549.00000,7136928.00000,290933.00000,38000.00000,0,4.00000,6.00000,0.00000,0.00000,0.00000,...,1.73894,0.97447,0.66176,0.57812,0.79943,0.69839,0.09444,0.11409,0.10811,0.13060
2,365550.00000,7136928.00000,290933.00000,38000.00000,0,4.00000,6.00000,0.00000,0.00000,0.00000,...,2.51824,1.41117,0.85185,1.05556,0.99219,1.22945,0.05797,0.06752,0.04678,0.05449
3,365551.00000,7136928.00000,370847.00000,31333.00000,0,4.00000,6.00000,0.00000,0.00000,0.00000,...,4.59852,2.57692,1.40000,1.23333,1.57166,1.38456,0.02857,0.03207,0.03243,0.03641
4,365552.00000,7136928.00000,370847.00000,31333.00000,0,4.00000,6.00000,0.00000,0.00000,0.00000,...,2.12239,1.18935,0.58741,0.74747,0.63535,0.80848,0.05628,0.06087,0.04423,0.04784
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2151,100998258.00000,2143636986.00000,15189081620.00000,37000.00000,1,5.00000,1.00000,1.00000,1.00000,1.00000,...,1.01221,1.04735,0.80000,1.08271,0.88933,0.99539,0.28800,0.32016,0.36842,0.33871
2152,101109067.00000,2145262856.00000,2313888806.00000,18000.00000,1,5.00000,16.00000,9.00000,0.00000,13.00000,...,0.94184,0.96759,1.11111,1.17824,1.08962,1.12652,0.40000,0.39226,0.40093,0.38333
2153,101109068.00000,2145262856.00000,2314051785.00000,25000.00000,1,5.00000,1.00000,9.00000,9.00000,13.00000,...,1.45758,1.50819,1.60225,1.65185,1.57442,1.58295,0.27817,0.27334,0.28678,0.27482
2154,101109069.00000,2145262856.00000,2314404971.00000,56000.00000,1,5.00000,1.00000,9.00000,9.00000,13.00000,...,1.01221,1.04735,1.10955,1.14359,1.08629,1.09151,0.39944,0.39107,0.41169,0.39294
2155,101109070.00000,2145262856.00000,2314786293.00000,37000.00000,1,5.00000,1.00000,9.00000,9.00000,13.00000,...,0.60732,0.62841,0.66387,0.68405,0.64757,0.65028,0.66387,0.64757,0.68405,0.65028

In [10]:
list(features.columns)

['id',
 'user_id',
 'timestamp',
 'prior_question_elapsed_time',
 'prior_question_had_explanation',
 'part',
 'kmean_cluster',
 'lect_user_part',
 'lect_user_kmean_cluster',
 'lect_user',
 'lect_user_part_concept',
 'lect_user_kmean_cluster_concept',
 'lect_user_concept',
 'lect_user_part_intention',
 'lect_user_kmean_cluster_intention',
 'lect_user_intention',
 'lect_user_part_solving_question',
 'lect_user_kmean_cluster_solving_question',
 'lect_user_solving_question',
 'lect_user_part_starter',
 'lect_user_kmean_cluster_starter',
 'lect_user_starter',
 'user_sum_answered_correctly',
 'user_count_answered_correctly',
 'user_mean_answered_correctly',
 'user_ema_answered_correctly',
 'user_he_sum_answered_correctly',
 'user_he_count_answered_correctly',
 'user_he_mean_answered_correctly',
 'user_he_ema_answered_correctly',
 'user_sum_prior_question_elapsed_time',
 'user_count_prior_question_elapsed_time',
 'user_mean_prior_question_elapsed_time',
 'user_ema_prior_question_elapsed_time',
 'user_he_sum_prior_question_elapsed_time',
 'user_he_count_prior_question_elapsed_time',
 'user_he_mean_prior_question_elapsed_time',
 'user_he_ema_prior_question_elapsed_time',
 'user_ucount_part',
 'user_ucount_kmean_cluster',
 'user_he_ucount_part',
 'user_he_ucount_kmean_cluster',
 'abs_chng_timestamp',
 'rel_chng_timestamp',
 'mean_chng_timestamp',
 'ema_chng_timestamp',
 'rel_mean_chng_timestamp',
 'rel_ema_chng_timestamp',
 'lag_answ_corr',
 'lag_part_bool',
 'lag_clu_bool',
 'lag_answ_and_part_bool',
 'lag_answ_and_clu_bool',
 'lag_expl_and_part_bool',
 'lag_expl_and_clu_bool',
 'lag_expl_and_part_bool_not_corr',
 'lag_expl_and_clu_bool_not_corr',
 'rel_user_he_mean_answ',
 'rel_user_he_ema_answ',
 'rel_user_he_mean_pqet',
 'rel_user_he_ema_pqet',
 'rel_lect_part',
 'rel_lect_clu',
 'rel_lect_concept',
 'rel_lect_intention',
 'rel_lect_solving_question',
 'rel_lect_starter',
 'trend_user_mean_answ',
 'trend_user_he_mean_answ',
 'trend_user_mean_pqet',
 'trend_user_he_mean_pqet',
 'content_id',
 'content_mean_answered_correctly',
 'content_sum_answered_correctly',
 'content_count_answered_correctly',
 'content_part_mean_answered_correctly',
 'content_part_sum_answered_correctly',
 'content_part_count_answered_correctly',
 'content_cl_mean_answered_correctly',
 'content_cl_sum_answered_correctly',
 'content_cl_count_answered_correctly',
 'content_he_mean_answered_correctly',
 'content_he_sum_answered_correctly',
 'content_he_count_answered_correctly',
 'content_he_part_mean_answered_correctly',
 'content_he_part_sum_answered_correctly',
 'content_he_part_count_answered_correctly',
 'content_he_cl_mean_answered_correctly',
 'content_he_cl_sum_answered_correctly',
 'content_he_cl_count_answered_correctly',
 'content_user_count_user_id',
 'content_user_part_count_user_id',
 'content_user_cl_count_user_id',
 'content_user_he_count_user_id',
 'content_user_he_part_count_user_id',
 'content_user_he_cl_count_user_id',
 'rel_content_part_mean_answ',
 'rel_content_he_part_mean_answ',
 'rel_content_cl_mean_answ',
 'rel_content_he_cl_mean_answ',
 'rel_user_content_mean_answ',
 'rel_user_content_he_mean_answ',
 'rel_user_content_ema_answ',
 'rel_user_content_he_ema_answ',
 'mul_user_content_mean_answ',
 'mul_user_content_ema_answ',
 'mul_user_content_he_mean_answ',
 'mul_user_content_he_ema_answ']

# Content features

In [34]:
def get_content_last_f(
    df_i: pd.DataFrame, 
    keys: List[str], 
    nec_field: List[str]
) -> pd.DataFrame:
    df = df_i.copy()
    
    df = df[keys + nec_field]
    df = df.drop_duplicates(
        subset=keys, 
        keep='last'
    ).sort_values(
        by = keys
    ).reset_index(drop=True)
    
    return df

In [28]:
nec = features[[
    'content_id', 
    'prior_question_had_explanation',
    'content_he_count_answered_correctly',
    'content_he_sum_answered_correctly',
]]

In [35]:
get_content_last_f(
    features, 
    keys = ['content_id', 'prior_question_had_explanation'], 
    nec_field = [
        'content_he_count_answered_correctly',
        'content_he_sum_answered_correctly',
    ]
)

,content_id,prior_question_had_explanation,content_he_count_answered_correctly,content_he_sum_answered_correctly
0,3.00000,1,4.00000,3.00000
1,4.00000,0,3.00000,2.00000
2,4.00000,1,6.00000,4.00000
3,6.00000,0,2.00000,2.00000
4,6.00000,1,16.00000,5.00000
...,...,...,...,...
1401,13359.00000,1,5.00000,3.00000
1402,13413.00000,1,5.00000,3.00000
1403,13478.00000,1,1.00000,1.00000
1404,13504.00000,1,5.00000,3.00000
1405,13516.00000,1,1.00000,0.00000

In [37]:
get_content_last_f(
    features, 
    keys = ['part', 'prior_question_had_explanation'], 
    nec_field = [
        'content_he_part_sum_answered_correctly',
    ]
)

,part,prior_question_had_explanation,content_he_part_sum_answered_correctly
0,1.00000,0,136.00000
1,1.00000,1,1420.00000
2,2.00000,0,108.00000
3,2.00000,1,4084.00000
4,3.00000,0,74.00000
5,3.00000,1,2261.00000
6,4.00000,0,146.00000
7,4.00000,1,2020.00000
8,5.00000,0,292.00000
9,5.00000,1,4414.00000
10,6.00000,0,54.00000
11,6.00000,1,1402.00000
12,7.00000,0,59.00000
13,7.00000,1,1021.00000

In [23]:
df = pd.DataFrame(data = {
    'content_id': [1, 1, 1, 2, 2, 2, 2, 2],
    'prior_question_had_explanation': [0, 1, 0, 0, 1, 0, 0, 0],
    'val': [i for i in range(8)]
})

In [24]:
df

   content_id  prior_question_had_explanation  val
0           1                               0    0
1           1                               1    1
2           1                               0    2
3           2                               0    3
4           2                               1    4
5           2                               0    5
6           2                               0    6
7           2                               0    7

In [26]:
df.drop_duplicates(subset=['content_id', 'prior_question_had_explanation'], keep='last').reset_index(drop=True)

   content_id  prior_question_had_explanation  val
0           1                               1    1
1           1                               0    2
2           2                               1    4
3           2                               0    7

# User features

In [39]:
features[features.user_id == 7136928]

,id,user_id,timestamp,prior_question_elapsed_time,prior_question_had_explanation,part,kmean_cluster,lect_user_part,lect_user_kmean_cluster,lect_user,...,rel_content_cl_mean_answ,rel_content_he_cl_mean_answ,rel_user_content_mean_answ,rel_user_content_he_mean_answ,rel_user_content_ema_answ,rel_user_content_he_ema_answ,mul_user_content_mean_answ,mul_user_content_ema_answ,mul_user_content_he_mean_answ,mul_user_content_he_ema_answ
0,365548.00000,7136928.00000,290933.00000,38000.00000,0,4.00000,6.00000,0.00000,0.00000,0.00000,...,1.09489,0.61355,0.23810,0.24026,0.28826,0.29088,0.08571,0.10377,0.08494,0.10284
1,365549.00000,7136928.00000,290933.00000,38000.00000,0,4.00000,6.00000,0.00000,0.00000,0.00000,...,1.73894,0.97447,0.66176,0.57812,0.79943,0.69839,0.09444,0.11409,0.10811,0.13060
2,365550.00000,7136928.00000,290933.00000,38000.00000,0,4.00000,6.00000,0.00000,0.00000,0.00000,...,2.51824,1.41117,0.85185,1.05556,0.99219,1.22945,0.05797,0.06752,0.04678,0.05449
3,365551.00000,7136928.00000,370847.00000,31333.00000,0,4.00000,6.00000,0.00000,0.00000,0.00000,...,4.59852,2.57692,1.40000,1.23333,1.57166,1.38456,0.02857,0.03207,0.03243,0.03641
4,365552.00000,7136928.00000,370847.00000,31333.00000,0,4.00000,6.00000,0.00000,0.00000,0.00000,...,2.12239,1.18935,0.58741,0.74747,0.63535,0.80848,0.05628,0.06087,0.04423,0.04784
5,365553.00000,7136928.00000,370847.00000,31333.00000,0,4.00000,6.00000,0.00000,0.00000,0.00000,...,6.89778,3.86538,1.75000,3.08333,1.82304,3.21201,0.01587,0.01654,0.00901,0.00938
6,365554.00000,7136928.00000,451200.00000,25666.00000,0,4.00000,6.00000,0.00000,0.00000,0.00000,...,1.42335,0.79762,0.33333,0.30769,0.33432,0.30860,0.07101,0.07122,0.07692,0.07715
7,365555.00000,7136928.00000,451200.00000,25666.00000,0,4.00000,6.00000,0.00000,0.00000,0.00000,...,1.11393,0.62422,0.24224,0.25714,0.23383,0.24822,0.08425,0.08133,0.07937,0.07661
8,365556.00000,7136928.00000,451200.00000,25666.00000,0,4.00000,6.00000,0.00000,0.00000,0.00000,...,2.13503,1.19643,0.43333,0.43636,0.40244,0.40525,0.04103,0.03810,0.04074,0.03784
9,365557.00000,7136928.00000,478945.00000,25666.00000,0,5.00000,1.00000,0.00000,0.00000,0.00000,...,1.15944,0.75476,0.23864,0.24375,0.21315,0.21772,0.06548,0.05848,0.06410,0.05726
10,365558.00000,7136928.00000,510488.00000,25000.00000,0,5.00000,1.00000,0.00000,0.00000,0.00000,...,2.85442,1.85814,0.55294,0.65546,0.47483,0.56287,0.02503,0.02150,0.02112,0.01813
11,365559.00000,7136928.00000,543527.00000,29000.00000,0,5.00000,1.00000,0.00000,0.00000,0.00000,...,1.18573,0.77187,0.21693,0.20635,0.17904,0.17030,0.05691,0.04697,0.05983,0.04938
12,365560.00000,7136928.00000,572018.00000,31000.00000,0,5.00000,1.00000,0.00000,0.00000,0.00000,...,3.30654,2.15245,0.57310,0.68421,0.45443,0.54253,0.01933,0.01533,0.01619,0.01284
13,365561.00000,7136928.00000,621276.00000,26000.00000,0,5.00000,1.00000,0.00000,0.00000,0.00000,...,3.10410,2.02067,0.51111,0.80000,0.38924,0.60924,0.01957,0.01490,0.01250,0.00952
14,365562.00000,7136928.00000,695703.00000,47000.00000,0,5.00000,1.00000,0.00000,0.00000,0.00000,...,2.42929,1.58140,0.38095,0.37143,0.27854,0.27158,0.02381,0.01741,0.02442,0.01786
1357,365563.00000,7136928.00000,869639.00000,72000.00000,0,6.00000,4.00000,0.00000,0.00000,0.00000,...,1.60928,1.05495,0.20779,0.25000,0.14582,0.17544,0.03977,0.02791,0.03306,0.02320
1358,365564.00000,7136928.00000,869639.00000,72000.00000,0,6.00000,4.00000,0.00000,0.00000,0.00000,...,5.63250,3.69231,1.04348,1.43478,1.12646,1.54888,0.01630,0.01760,0.01186,0.01280
1359,365565.00000,7136928.00000,869639.00000,72000.00000,0,6.00000,4.00000,0.00000,0.00000,0.00000,...,1.40812,0.92308,0.25000,0.34375,0.25885,0.35592,0.06250,0.06471,0.04545,0.04706
1360,365566.00000,7136928.00000,869639.00000,72000.00000,0,6.00000,4.00000,0.00000,0.00000,0.00000,...,1.32989,0.87179,0.22667,0.28800,0.22503,0.28592,0.06353,0.06307,0.05000,0.04964
1756,365567.00000,7136928.00000,1381521.00000,42750.00000,0,7.00000,5.00000,0.00000,0.00000,0.00000,...,1.58801,1.13763,0.35385,0.35897,0.43275,0.43902,0.06689,0.08180,0.06593,0.08064
1757,365568.00000,7136928.00000,1381521.00000,42750.00000,0,7.00000,5.00000,0.00000,0.00000,0.00000,...,1.44365,1.03421,0.30976,0.31111,0.36300,0.36458,0.07085,0.08303,0.07055,0.08267
1758,365569.00000,7136928.00000,1381521.00000,42750.00000,0,7.00000,5.00000,0.00000,0.00000,0.00000,...,1.50641,1.07918,0.38961,0.43651,0.51637,0.57853,0.08185,0.10847,0.07305,0.09682
1759,365570.00000,7136928.00000,1381521.00000,42750.00000,0,7.00000,5.00000,0.00000,0.00000,0.00000,...,1.05867,0.75842,0.26437,0.25862,0.33553,0.32823,0.11244,0.14271,0.11494,0.14588

In [42]:
def get_user_last_f(
    df_i: pd.DataFrame, 
    keys: List[str], 
    nec_field: List[str]
) -> pd.DataFrame:
    df = df_i.copy()

    df = df[keys + list(set(nec_field) - set(['timestamp'])) + ['timestamp']]
    df = df.sort_values(
        by = ['user_id', 'timestamp']
    )
    df = df.drop_duplicates(
        subset=keys, 
        keep='last'
    ).sort_values(
        by = keys
    ).reset_index(drop=True)
    
    return df

In [43]:
df = pd.DataFrame(data = {
    'user_id': [1, 1, 1, 2, 2, 2, 2, 2],
    'timestamp': [i for i in range(8)]
})

In [44]:
df

   user_id  timestamp
0        1          0
1        1          1
2        1          2
3        2          3
4        2          4
5        2          5
6        2          6
7        2          7

In [45]:
get_user_last_f(
    df, 
    keys = ['user_id'], 
    nec_field = ['timestamp']
)

   user_id  timestamp
0        1          2
1        2          7

In [46]:
get_user_last_f(
    features, 
    keys = ['user_id'], 
    nec_field = ['timestamp']
)

            user_id         timestamp
0     7136928.00000     1381521.00000
1    22318239.00000      418433.00000
2    51771056.00000  1497032674.00000
3    53424674.00000 22975936976.00000
4    64764301.00000   610367939.00000
..              ...               ...
95 2088893187.00000      918210.00000
96 2099100705.00000     1255716.00000
97 2100847337.00000 12174551507.00000
98 2143636986.00000 15189081620.00000
99 2145262856.00000  2314786293.00000

[100 rows x 2 columns]

In [48]:
features[features.user_id == 2099100705]

,id,user_id,timestamp,prior_question_elapsed_time,prior_question_had_explanation,part,kmean_cluster,lect_user_part,lect_user_kmean_cluster,lect_user,...,rel_content_cl_mean_answ,rel_content_he_cl_mean_answ,rel_user_content_mean_answ,rel_user_content_he_mean_answ,rel_user_content_ema_answ,rel_user_content_he_ema_answ,mul_user_content_mean_answ,mul_user_content_ema_answ,mul_user_content_he_mean_answ,mul_user_content_he_ema_answ
1297,98944169.00000,2099100705.00000,162622.00000,16000.00000,0,1.00000,0.00000,0.00000,0.00000,0.00000,...,0.96420,0.90435,0.97959,0.85714,0.98104,0.85841,0.75000,0.75110,0.85714,0.85841
1298,98944170.00000,2099100705.00000,196267.00000,17000.00000,0,1.00000,0.00000,0.00000,0.00000,0.00000,...,0.84367,0.79130,0.87500,0.87500,0.88050,0.88050,0.87500,0.88050,0.87500,0.88050
1299,98944171.00000,2099100705.00000,224318.00000,31000.00000,0,1.00000,0.00000,0.00000,0.00000,0.00000,...,0.84367,0.79130,0.88889,0.88889,0.89758,0.89758,0.88889,0.89758,0.88889,0.89758
1300,98944172.00000,2099100705.00000,252412.00000,19000.00000,0,1.00000,0.00000,0.00000,0.00000,0.00000,...,1.12490,1.05507,1.20000,1.35000,1.21488,1.36674,0.67500,0.68337,0.60000,0.60744
1301,98944173.00000,2099100705.00000,281206.00000,22000.00000,0,1.00000,0.00000,0.00000,0.00000,0.00000,...,1.04889,0.98378,1.13022,1.15702,1.14650,1.17369,0.73123,0.74176,0.71429,0.72457
1302,98944174.00000,2099100705.00000,306664.00000,23000.00000,0,1.00000,0.00000,0.00000,0.00000,0.00000,...,0.84367,0.79130,0.83333,0.83333,0.81417,0.81417,0.83333,0.81417,0.83333,0.81417
1303,98944175.00000,2099100705.00000,333293.00000,19000.00000,0,1.00000,0.00000,0.00000,0.00000,0.00000,...,1.12490,1.05507,1.12821,1.26923,1.11313,1.25227,0.63462,0.62614,0.56410,0.55656
1304,98944176.00000,2099100705.00000,356577.00000,22000.00000,0,1.00000,13.00000,0.00000,0.00000,0.00000,...,0.94783,0.53097,1.04762,1.17857,0.99480,1.11915,0.58929,0.55957,0.52381,0.49740
1305,98944177.00000,2099100705.00000,381570.00000,21000.00000,0,1.00000,13.00000,0.00000,0.00000,0.00000,...,0.94783,0.53097,0.97778,0.73333,0.89329,0.66997,0.55000,0.50247,0.73333,0.66997
1306,98944178.00000,2099100705.00000,408774.00000,16000.00000,0,1.00000,13.00000,0.00000,0.00000,0.00000,...,1.06631,0.59735,1.12500,1.12500,1.05364,1.05364,0.50000,0.46828,0.50000,0.46828
1307,98944179.00000,2099100705.00000,441573.00000,17000.00000,0,1.00000,13.00000,0.00000,0.00000,0.00000,...,0.88859,0.49779,0.95588,1.14706,0.91342,1.09610,0.61176,0.58459,0.50980,0.48716
1308,98944180.00000,2099100705.00000,463428.00000,30000.00000,0,1.00000,0.00000,0.00000,0.00000,0.00000,...,1.26551,1.18696,1.08333,1.08333,0.99492,0.99492,0.48148,0.44219,0.48148,0.44219
1309,98944181.00000,2099100705.00000,484624.00000,18000.00000,0,1.00000,0.00000,0.00000,0.00000,0.00000,...,1.01241,0.94957,0.82105,1.02632,0.72446,0.90557,0.57018,0.50309,0.45614,0.40248
1310,98944182.00000,2099100705.00000,511532.00000,16000.00000,0,1.00000,13.00000,0.00000,0.00000,0.00000,...,0.97745,0.54757,0.96250,2.10000,0.87784,1.91528,0.50909,0.46431,0.23333,0.21281
1311,98944183.00000,2099100705.00000,543223.00000,17000.00000,0,1.00000,0.00000,0.00000,0.00000,0.00000,...,1.12490,1.05507,0.95238,2.14286,0.89251,2.00815,0.53571,0.50204,0.23810,0.22313
1740,98944184.00000,2099100705.00000,564239.00000,21000.00000,0,1.00000,0.00000,0.00000,0.00000,0.00000,...,1.89826,1.78043,1.63636,1.45455,1.56849,1.39421,0.32323,0.30982,0.36364,0.34855
1741,98944185.00000,2099100705.00000,596167.00000,18000.00000,0,1.00000,13.00000,0.00000,0.00000,0.00000,...,1.48357,0.83109,1.54253,1.78261,1.50683,1.74134,0.35417,0.34597,0.30647,0.29937
1742,98944186.00000,2099100705.00000,628244.00000,26000.00000,0,1.00000,13.00000,0.00000,0.00000,0.00000,...,1.82797,1.02402,1.92857,0.75000,1.91440,0.74449,0.29167,0.28952,0.75000,0.74449
1743,98944187.00000,2099100705.00000,651472.00000,24000.00000,0,1.00000,13.00000,0.00000,0.00000,0.00000,...,1.42175,0.79646,1.44000,inf,1.37056,inf,0.36000,0.34264,0.00000,0.00000
2140,98944188.00000,2099100705.00000,682727.00000,18000.00000,0,1.00000,0.00000,0.00000,0.00000,0.00000,...,1.80787,1.69565,1.56593,1.46154,1.52130,1.41988,0.34103,0.33131,0.36538,0.35497
2141,98944189.00000,2099100705.00000,711688.00000,22000.00000,0,1.00000,13.00000,0.00000,0.00000,0.00000,...,2.62477,1.47039,2.73504,2.53086,2.70408,2.50222,0.20062,0.19835,0.21680,0.21435
2142,98944190.00000,2099100705.00000,870931.00000,22000.00000,0,1.00000,0.00000,0.00000,0.00000,0.00000,...,1.68734,1.58261,1.42857,1.42857,1.35294,1.35294,0.35714,0.33824,0.35714,0.33824
2143,98944191.00000,2099100705.00000,1255716.00000,15000.00000,0,1.00000,0.00000,0.00000,0.00000,0.00000,...,1.68734,1.58261,1.37931,1.37931,1.25091,1.25091,0.34483,0.31273,0.34483,0.31273

In [78]:
def get_answered_as_arr(
    features: pd.DataFrame,
    vitrine: pd.DataFrame,
):
    features_user = features[['id', 'user_id']]
    features_user = pd.merge(
        features_user,
        vitrine[['id', 'answered_correctly']],
        left_on=['id'],
        right_on=['id'],
        how = 'left'
    )
    features_user = features_user.sort_values(by = ['user_id', 'id']).reset_index(drop=True)
    
    
    
    return features_user.groupby('user_id')['answered_correctly'].apply(np.array).to_frame()

In [66]:
features_user = features[['id', 'user_id']]
print(features_user.shape)
features_user = pd.merge(
    features_user,
    vitrine[['id', 'answered_correctly']],
    left_on=['id'],
    right_on=['id'],
    how = 'left'
)
features_user = features_user.sort_values(by = ['user_id', 'id']).reset_index(drop=True)
print(features_user.shape)

(2156, 2)
(2156, 3)

In [67]:
features_user[features_user.user_id == 7136928]

             id       user_id  answered_correctly
0  365548.00000 7136928.00000                   1
1  365549.00000 7136928.00000                   0
2  365550.00000 7136928.00000                   0
3  365551.00000 7136928.00000                   0
4  365552.00000 7136928.00000                   0
5  365553.00000 7136928.00000                   0
6  365554.00000 7136928.00000                   0
7  365555.00000 7136928.00000                   0
8  365556.00000 7136928.00000                   0
9  365557.00000 7136928.00000                   0
10 365558.00000 7136928.00000                   0
11 365559.00000 7136928.00000                   0
12 365560.00000 7136928.00000                   0
13 365561.00000 7136928.00000                   0
14 365562.00000 7136928.00000                   0
15 365563.00000 7136928.00000                   1
16 365564.00000 7136928.00000                   0
17 365565.00000 7136928.00000                   0
18 365566.00000 7136928.00000                   1
19 365567.00000 7136928.00000                   0
20 365568.00000 7136928.00000                   1
21 365569.00000 7136928.00000                   0
22 365570.00000 7136928.00000                   0

In [59]:
df_2 = features_user.groupby('user_id')['answered_correctly'].apply(np.array).to_frame()

In [77]:
df_2

                                                 answered_correctly
user_id
7136928.00000     [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
22318239.00000    [1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, ...
51771056.00000    [1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, ...
53424674.00000    [0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ...
64764301.00000              [0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0]
...                                                             ...
2088893187.00000  [0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, ...
2099100705.00000  [1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, ...
2100847337.00000  [1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
2143636986.00000  [1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, ...
2145262856.00000  [1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, ...

[100 rows x 1 columns]

In [76]:
df_2.loc[df_2.index == 7136928.00000]['answered_correctly']

user_id
7136928.00000    [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
Name: answered_correctly, dtype: object

In [68]:
df_2[df_2.index == 7136928].values

array([[array([1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       0])]], dtype=object)

In [69]:
list(features_user[features_user.user_id == 7136928]['answered_correctly'])

[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0]

In [80]:
df_2 = get_answered_as_arr(
    features,
    vitrine,
)
df_2[df_2.index == 7136928].values

array([[array([1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       0])]], dtype=object)

In [18]:
import pickle
def load_obj(name):
    with open("../data/base_8_2_none/" + name + ".pkl", "rb") as f:
        return pickle.load(f)

In [19]:
result_features = load_obj('result_features')

In [20]:
result_features.keys()

dict_keys(['content_he_mean_answered_correctly', 'user_ema_answered_correctly', 'abs_chng_timestamp', 'content_he_part_sum_answered_correctly'])

In [21]:
result_features['user_ema_answered_correctly']

                user_id        answered_correctly
0             115.00000  [1, 0, 1, 0, 0, 0, 0, 1]
1             124.00000  [0, 1, 0, 0, 0, 0, 0, 0]
2            2746.00000        [1, 1, 1, 1, 0, 1]
3            5382.00000        [1, 0, 1, 0, 0, 0]
4            8623.00000           [1, 0, 1, 1, 1]
...                 ...                       ...
393651 2147470770.00000        [1, 1, 1, 1, 0, 1]
393652 2147470777.00000     [1, 1, 1, 1, 1, 0, 0]
393653 2147481750.00000     [1, 1, 0, 1, 1, 0, 1]
393654 2147482216.00000     [1, 1, 1, 1, 1, 1, 1]
393655 2147482888.00000        [1, 1, 1, 1, 0, 1]

[393656 rows x 2 columns]

In [22]:
result_features['content_he_part_sum_answered_correctly']

,part,prior_question_had_explanation,content_he_part_sum_answered_correctly
0,1.00000,0,684038.00000
1,1.00000,1,4828769.00000
2,2.00000,0,523733.00000
3,2.00000,1,12535037.00000
4,3.00000,0,463830.00000
5,3.00000,1,5572945.00000
6,4.00000,0,675906.00000
7,4.00000,1,4388687.00000
8,5.00000,0,1391387.00000
9,5.00000,1,23090306.00000
10,6.00000,0,618575.00000
11,6.00000,1,6359938.00000
12,7.00000,0,354249.00000
13,7.00000,1,2803579.00000