In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.float_format', '{:.4f}'.format)
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 1000)

In [12]:
%%time
for_train = pd.read_csv('../data/experiment_1/for_train.csv')
for_train.shape

CPU times: user 5.38 ms, sys: 2.46 ms, total: 7.85 ms
Wall time: 7.14 ms

(2156, 3)

In [4]:
%%time
vitrine = pd.read_csv('../data/experiment_1/vitrine.csv')
vitrine.shape

CPU times: user 31.7 ms, sys: 11 ms, total: 42.6 ms
Wall time: 43.5 ms

(26892, 14)

In [5]:
%%time
limit_vitrine = pd.read_csv('../data/experiment_1/limit_vitrine.csv')
limit_vitrine.shape

CPU times: user 30.7 ms, sys: 7.14 ms, total: 37.8 ms
Wall time: 38.3 ms

(26093, 14)

In [9]:
vitrine.user_id.unique()

array([   7136928,   22318239,   51771056,   53424674,   64764301,
         82977466,   94999086,  106324700,  108822628,  137817081,
        141264833,  217412465,  235233876,  235832844,  237524996,
        252941168,  269060757,  337576619,  348461215,  367840615,
        373598450,  406901956,  409019335,  468048049,  515668244,
        519744118,  550366047,  562186265,  584872865,  616161602,
        616580486,  624222398,  634891095,  658520354,  736371818,
        751871997,  761021960,  761800801,  789631718,  845636456,
        854863946,  878817883,  891642780,  900124353,  946026077,
        951606580,  957818828, 1014937471, 1054103172, 1058520883,
       1071312962, 1102511752, 1138522179, 1143715769, 1154226251,
       1165196379, 1191572932, 1223491298, 1247503470, 1258176764,
       1269589690, 1300608200, 1314342162, 1319452599, 1327647142,
       1420344126, 1443598919, 1462950044, 1485450502, 1490239788,
       1501524575, 1588132322, 1614228863, 1623215417, 1677852077,
       1692505119, 1709810594, 1769609168, 1779147493, 1795317519,
       1807858704, 1866437135, 1875150524, 1920216032, 1923451244,
       1924325164, 1929611621, 1944412002, 1953421360, 1962284087,
       1962993593, 1983836548, 2047398903, 2064777409, 2084988339,
       2088893187, 2099100705, 2100847337, 2143636986, 2145262856])

In [10]:
vitrine[vitrine.user_id == 761800801]

,id,timestamp,user_id,content_id,content_type_id,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,part,concept,intention,solving_question,starter,kmean_cluster
7478,35676780,0,761800801,4105,0,0,nan,NaN,5,nan,nan,nan,nan,1
7479,35676781,29298,761800801,84,0,1,19000.0000,False,1,nan,nan,nan,nan,0
7480,35676782,42368,761800801,6417,0,0,26000.0000,False,5,nan,nan,nan,nan,1
7481,35676783,74304,761800801,4726,0,1,10000.0000,False,5,nan,nan,nan,nan,1
7482,35676784,96233,761800801,5148,0,0,27000.0000,False,5,nan,nan,nan,nan,7
7483,35676785,130113,761800801,6245,0,1,18000.0000,False,5,nan,nan,nan,nan,7
7484,35676786,148392,761800801,8225,0,1,31000.0000,False,5,nan,nan,nan,nan,7
7485,35676787,180625,761800801,3614,0,0,14000.0000,False,5,nan,nan,nan,nan,1
7486,35676788,215633,761800801,6375,0,0,29000.0000,False,5,nan,nan,nan,nan,1
7487,35676789,239671,761800801,5269,0,0,31000.0000,False,5,nan,nan,nan,nan,1
7488,35676790,416000,761800801,4414,0,0,21000.0000,False,5,nan,nan,nan,nan,1
7489,35676791,685848,761800801,6318,0,0,8000.0000,True,5,nan,nan,nan,nan,1
7490,35676792,854108,761800801,13379,1,-1,nan,False,5,1.0000,0.0000,0.0000,0.0000,1
7491,35676793,872724,761800801,6318,0,1,23000.0000,True,5,nan,nan,nan,nan,1
7492,35676794,891768,761800801,4414,0,1,9000.0000,True,5,nan,nan,nan,nan,1
7493,35676795,940013,761800801,4026,0,0,6000.0000,True,5,nan,nan,nan,nan,1
7494,35676796,986821,761800801,9615,0,0,30000.0000,True,5,nan,nan,nan,nan,1
7495,35676797,1009864,761800801,3977,0,1,27000.0000,True,5,nan,nan,nan,nan,1
7496,35676798,1044209,761800801,4428,0,0,7000.0000,True,5,nan,nan,nan,nan,1
7497,35676799,1090376,761800801,6476,0,1,23000.0000,True,5,nan,nan,nan,nan,1
7498,35676800,1115837,761800801,9369,0,0,31000.0000,True,5,nan,nan,nan,nan,16
7499,35676801,1146682,761800801,5720,0,0,11000.0000,True,5,nan,nan,nan,nan,1
7500,35676802,1168709,761800801,4643,0,1,20000.0000,True,5,nan,nan,nan,nan,1
7501,35676803,1285454,761800801,133,0,0,12000.0000,True,1,nan,nan,nan,nan,0
7502,35676804,1329045,761800801,7863,0,1,21000.0000,True,1,nan,nan,nan,nan,0
7503,35676805,1372560,761800801,123,0,1,25000.0000,True,1,nan,nan,nan,nan,13
7504,35676806,1443012,761800801,10584,0,1,25000.0000,True,1,nan,nan,nan,nan,13
7505,35676807,1509907,761800801,7898,0,1,25000.0000,True,1,nan,nan,nan,nan,0
7506,35676808,1547983,761800801,7,0,1,31000.0000,True,1,nan,nan,nan,nan,13
7507,35676809,1587432,761800801,7856,0,0,24000.0000,True,1,nan,nan,nan,nan,13
7508,35676810,1624399,761800801,10637,0,1,22000.0000,True,1,nan,nan,nan,nan,0
7509,35676811,1656482,761800801,183,0,0,22000.0000,True,1,nan,nan,nan,nan,13
7510,35676812,1690050,761800801,21,0,1,22000.0000,True,1,nan,nan,nan,nan,13
7511,35676813,4664079,761800801,46,0,1,21000.0000,True,1,nan,nan,nan,nan,0
7512,35676814,4692321,761800801,10628,0,1,24000.0000,True,1,nan,nan,nan,nan,0
7513,35676815,4727434,761800801,2,0,0,19000.0000,True,1,nan,nan,nan,nan,0
7514,35676816,4766600,761800801,7876,0,0,24000.0000,True,1,nan,nan,nan,nan,13
7515,35676817,4802338,761800801,7935,0,1,25000.0000,True,1,nan,nan,nan,nan,13
7516,35676818,4833119,761800801,10480,0,1,23000.0000,True,1,nan,nan,nan,nan,0
7517,35676819,4867858,761800801,7957,0,1,21000.0000,True,1,nan,nan,nan,nan,0
7518,35676820,4904550,761800801,7869,0,1,26000.0000,True,1,nan,nan,nan,nan,0
7519,35676821,4945417,761800801,122,0,0,25000.0000,True,1,nan,nan,nan,nan,13
7520,35676822,4983606,761800801,10579,0,1,23000.0000,True,1,nan,nan,nan,nan,0
7521,35676823,5022814,761800801,139,0,1,21000.0000,True,1,nan,nan,nan,nan,0
7522,35676824,5048320,761800801,52,0,1,29000.0000,True,1,nan,nan,nan,nan,0
7523,35676825,5075111,761800801,7906,0,1,18000.0000,True,1,nan,nan,nan,nan,0
7524,35676826,5100018,761800801,10384,0,0,20000.0000,True,1,nan,nan,nan,nan,0
7525,35676827,5135622,761800801,164,0,1,17000.0000,True,1,nan,nan,nan,nan,13
7526,35676828,5178076,761800801,130,0,1,24000.0000,True,1,nan,nan,nan,nan,0
7527,35676829,5212912,761800801,18,0,1,7000.0000,True,1,nan,nan,nan,nan,13
7528,35676830,5246409,761800801,10549,0,1,23000.0000,True,1,nan,nan,nan,nan,13
7529,35676831,5280406,761800801,70,0,0,24000.0000,True,1,nan,nan,nan,nan,0
7530,35676832,5314519,761800801,7975,0,1,24000.0000,True,1,nan,nan,nan,nan,0
7531,35676833,5471217,761800801,1339,0,1,23000.0000,True,2,nan,nan,nan,nan,3
7532,35676834,5539648,761800801,1014,0,1,19000.0000,True,2,nan,nan,nan,nan,3
7533,35676835,14395756,761800801,6779,0,0,17000.0000,True,6,nan,nan,nan,nan,4
7534,35676836,14395756,761800801,6780,0,1,17000.0000,True,6,nan,nan,nan,nan,4
7535,35676837,14395756,761800801,6778,0,1,17000.0000,True,6,nan,nan,nan,nan,4
7536,35676838,14395756,761800801,6777,0,0,17000.0000,True,6,nan,nan,nan,nan,4
7537,35676839,49720256,761800801,470,0,1,35500.0000,True,2,nan,nan,nan,nan,11
7538,35676840,49901151,761800801,10686,0,0,20000.0000,True,2,nan,nan,nan,nan,3
7539,35676841,50035991,761800801,481,0,1,20000.0000,True,2,nan,nan,nan,nan,3
7540,35676842,50083980,761800801,1224,0,0,19000.0000,True,2,nan,nan,nan,nan,3
7541,35676843,50154823,761800801,690,0,0,16000.0000,True,2,nan,nan,nan,nan,3
7542,35676844,50246211,761800801,109,0,1,18000.0000,True,1,nan,nan,nan,nan,0
7543,35676845,50298643,761800801,10642,0,1,19000.0000,True,1,nan,nan,nan,nan,0
7544,35676846,50361105,761800801,120,0,1,27000.0000,True,1,nan,nan,nan,nan,13
7545,35676847,50400575,761800801,7931,0,1,25000.0000,True,1,nan,nan,nan,nan,0
7546,35676848,50428268,761800801,90,0,1,22000.0000,True,1,nan,nan,nan,nan,0
7547,35676849,50461689,761800801,10406,0,1,20000.0000,True,1,nan,nan,nan,nan,0
7548,35676850,50625686,761800801,1536,0,1,22000.0000,True,3,nan,nan,nan,nan,9
7549,35676851,50625686,761800801,1537,0,0,22000.0000,True,3,nan,nan,nan,nan,9
7550,35676852,50625686,761800801,1535,0,1,22000.0000,True,3,nan,nan,nan,nan,9
7551,35676853,50823054,761800801,1612,0,0,28000.0000,True,3,nan,nan,nan,nan,2
7552,35676854,50823054,761800801,1611,0,0,28000.0000,True,3,nan,nan,nan,nan,2
7553,35676855,50823054,761800801,1610,0,0,28000.0000,True,3,nan,nan,nan,nan,2
7554,35676856,1700205416,761800801,4797,0,1,28333.0000,True,5,nan,nan,nan,nan,1
7555,35676857,1700444662,761800801,9253,0,0,9000.0000,True,5,nan,nan,nan,nan,1
7556,35676858,1948731077,761800801,6419,0,0,41000.0000,True,5,nan,nan,nan,nan,1

In [11]:
limit_vitrine[limit_vitrine.user_id == 761800801]

,id,timestamp,user_id,content_id,content_type_id,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation,part,concept,intention,solving_question,starter,kmean_cluster
7182,35676780,0,761800801,4105,0,0,nan,NaN,5,nan,nan,nan,nan,1
7183,35676781,29298,761800801,84,0,1,19000.0000,False,1,nan,nan,nan,nan,0
7184,35676782,42368,761800801,6417,0,0,26000.0000,False,5,nan,nan,nan,nan,1
7185,35676783,74304,761800801,4726,0,1,10000.0000,False,5,nan,nan,nan,nan,1
7186,35676784,96233,761800801,5148,0,0,27000.0000,False,5,nan,nan,nan,nan,7
7187,35676785,130113,761800801,6245,0,1,18000.0000,False,5,nan,nan,nan,nan,7
7188,35676786,148392,761800801,8225,0,1,31000.0000,False,5,nan,nan,nan,nan,7
7189,35676787,180625,761800801,3614,0,0,14000.0000,False,5,nan,nan,nan,nan,1
7190,35676788,215633,761800801,6375,0,0,29000.0000,False,5,nan,nan,nan,nan,1
7191,35676789,239671,761800801,5269,0,0,31000.0000,False,5,nan,nan,nan,nan,1
7192,35676790,416000,761800801,4414,0,0,21000.0000,False,5,nan,nan,nan,nan,1
7193,35676791,685848,761800801,6318,0,0,8000.0000,True,5,nan,nan,nan,nan,1
7194,35676792,854108,761800801,13379,1,-1,nan,False,5,1.0000,0.0000,0.0000,0.0000,1
7195,35676793,872724,761800801,6318,0,1,23000.0000,True,5,nan,nan,nan,nan,1
7196,35676794,891768,761800801,4414,0,1,9000.0000,True,5,nan,nan,nan,nan,1
7197,35676795,940013,761800801,4026,0,0,6000.0000,True,5,nan,nan,nan,nan,1
7198,35676796,986821,761800801,9615,0,0,30000.0000,True,5,nan,nan,nan,nan,1
7199,35676797,1009864,761800801,3977,0,1,27000.0000,True,5,nan,nan,nan,nan,1
7200,35676798,1044209,761800801,4428,0,0,7000.0000,True,5,nan,nan,nan,nan,1
7201,35676799,1090376,761800801,6476,0,1,23000.0000,True,5,nan,nan,nan,nan,1
7202,35676800,1115837,761800801,9369,0,0,31000.0000,True,5,nan,nan,nan,nan,16
7203,35676801,1146682,761800801,5720,0,0,11000.0000,True,5,nan,nan,nan,nan,1
7204,35676802,1168709,761800801,4643,0,1,20000.0000,True,5,nan,nan,nan,nan,1
7205,35676803,1285454,761800801,133,0,0,12000.0000,True,1,nan,nan,nan,nan,0
7206,35676804,1329045,761800801,7863,0,1,21000.0000,True,1,nan,nan,nan,nan,0
7207,35676805,1372560,761800801,123,0,1,25000.0000,True,1,nan,nan,nan,nan,13
7208,35676806,1443012,761800801,10584,0,1,25000.0000,True,1,nan,nan,nan,nan,13
7209,35676807,1509907,761800801,7898,0,1,25000.0000,True,1,nan,nan,nan,nan,0
7210,35676808,1547983,761800801,7,0,1,31000.0000,True,1,nan,nan,nan,nan,13
7211,35676809,1587432,761800801,7856,0,0,24000.0000,True,1,nan,nan,nan,nan,13
7212,35676810,1624399,761800801,10637,0,1,22000.0000,True,1,nan,nan,nan,nan,0
7213,35676811,1656482,761800801,183,0,0,22000.0000,True,1,nan,nan,nan,nan,13
7214,35676812,1690050,761800801,21,0,1,22000.0000,True,1,nan,nan,nan,nan,13
7215,35676813,4664079,761800801,46,0,1,21000.0000,True,1,nan,nan,nan,nan,0
7216,35676814,4692321,761800801,10628,0,1,24000.0000,True,1,nan,nan,nan,nan,0
7217,35676815,4727434,761800801,2,0,0,19000.0000,True,1,nan,nan,nan,nan,0
7218,35676816,4766600,761800801,7876,0,0,24000.0000,True,1,nan,nan,nan,nan,13
7219,35676817,4802338,761800801,7935,0,1,25000.0000,True,1,nan,nan,nan,nan,13
7220,35676818,4833119,761800801,10480,0,1,23000.0000,True,1,nan,nan,nan,nan,0
7221,35676819,4867858,761800801,7957,0,1,21000.0000,True,1,nan,nan,nan,nan,0
7222,35676820,4904550,761800801,7869,0,1,26000.0000,True,1,nan,nan,nan,nan,0
7223,35676821,4945417,761800801,122,0,0,25000.0000,True,1,nan,nan,nan,nan,13
7224,35676822,4983606,761800801,10579,0,1,23000.0000,True,1,nan,nan,nan,nan,0
7225,35676823,5022814,761800801,139,0,1,21000.0000,True,1,nan,nan,nan,nan,0
7226,35676824,5048320,761800801,52,0,1,29000.0000,True,1,nan,nan,nan,nan,0
7227,35676825,5075111,761800801,7906,0,1,18000.0000,True,1,nan,nan,nan,nan,0
7228,35676826,5100018,761800801,10384,0,0,20000.0000,True,1,nan,nan,nan,nan,0
7229,35676827,5135622,761800801,164,0,1,17000.0000,True,1,nan,nan,nan,nan,13
7230,35676828,5178076,761800801,130,0,1,24000.0000,True,1,nan,nan,nan,nan,0
7231,35676829,5212912,761800801,18,0,1,7000.0000,True,1,nan,nan,nan,nan,13
7232,35676830,5246409,761800801,10549,0,1,23000.0000,True,1,nan,nan,nan,nan,13
7233,35676831,5280406,761800801,70,0,0,24000.0000,True,1,nan,nan,nan,nan,0
7234,35676832,5314519,761800801,7975,0,1,24000.0000,True,1,nan,nan,nan,nan,0
7235,35676833,5471217,761800801,1339,0,1,23000.0000,True,2,nan,nan,nan,nan,3
7236,35676834,5539648,761800801,1014,0,1,19000.0000,True,2,nan,nan,nan,nan,3
7237,35676835,14395756,761800801,6779,0,0,17000.0000,True,6,nan,nan,nan,nan,4
7238,35676836,14395756,761800801,6780,0,1,17000.0000,True,6,nan,nan,nan,nan,4
7239,35676837,14395756,761800801,6778,0,1,17000.0000,True,6,nan,nan,nan,nan,4
7240,35676838,14395756,761800801,6777,0,0,17000.0000,True,6,nan,nan,nan,nan,4
7241,35676839,49720256,761800801,470,0,1,35500.0000,True,2,nan,nan,nan,nan,11
7242,35676840,49901151,761800801,10686,0,0,20000.0000,True,2,nan,nan,nan,nan,3
7243,35676841,50035991,761800801,481,0,1,20000.0000,True,2,nan,nan,nan,nan,3
7244,35676842,50083980,761800801,1224,0,0,19000.0000,True,2,nan,nan,nan,nan,3
7245,35676843,50154823,761800801,690,0,0,16000.0000,True,2,nan,nan,nan,nan,3
7246,35676844,50246211,761800801,109,0,1,18000.0000,True,1,nan,nan,nan,nan,0
7247,35676845,50298643,761800801,10642,0,1,19000.0000,True,1,nan,nan,nan,nan,0
7248,35676846,50361105,761800801,120,0,1,27000.0000,True,1,nan,nan,nan,nan,13
7249,35676847,50400575,761800801,7931,0,1,25000.0000,True,1,nan,nan,nan,nan,0
7250,35676848,50428268,761800801,90,0,1,22000.0000,True,1,nan,nan,nan,nan,0
7251,35676849,50461689,761800801,10406,0,1,20000.0000,True,1,nan,nan,nan,nan,0
7252,35676850,50625686,761800801,1536,0,1,22000.0000,True,3,nan,nan,nan,nan,9

In [20]:
content_vitrine = pd.read_csv('../data/experiment_1/content_vitrine.csv')
content_vitrine.shape

(2156, 34)

In [21]:
content_vitrine.isna().sum(axis = 0).sum()

0

In [22]:
content_vitrine.head()

,id,content_id,timestamp,prior_question_had_explanation,part,kmean_cluster,content_mean_answered_correctly,content_sum_answered_correctly,content_count_answered_correctly,content_part_mean_answered_correctly,content_part_sum_answered_correctly,content_part_count_answered_correctly,content_cl_mean_answered_correctly,content_cl_sum_answered_correctly,content_cl_count_answered_correctly,content_he_mean_answered_correctly,content_he_sum_answered_correctly,content_he_count_answered_correctly,content_he_part_mean_answered_correctly,content_he_part_sum_answered_correctly,content_he_part_count_answered_correctly,content_he_cl_mean_answered_correctly,content_he_cl_sum_answered_correctly,content_he_cl_count_answered_correctly,content_user_count_user_id,content_user_part_count_user_id,content_user_cl_count_user_id,content_user_he_count_user_id,content_user_he_part_count_user_id,content_user_he_cl_count_user_id,rel_content_part_mean_answ,rel_content_he_part_mean_answ,rel_content_cl_mean_answ,rel_content_he_cl_mean_answ
0,365548.0000,3364.0000,290933.0000,0.0000,4.0000,6.0000,0.6000,27.0000,45.0000,0.6451,2118.0000,3283.0000,0.6265,1639.0000,2616.0000,0.5946,22.0000,37.0000,0.2279,98.0000,430.0000,0.2087,86.0000,412.0000,45.0000,3283.0000,2616.0000,37.0000,430.0000,412.0000,1.0752,0.3798,1.0442,0.3479
1,365549.0000,3365.0000,290933.0000,0.0000,4.0000,6.0000,0.3778,17.0000,45.0000,0.6451,2118.0000,3283.0000,0.6265,1639.0000,2616.0000,0.4324,16.0000,37.0000,0.2279,98.0000,430.0000,0.2087,86.0000,412.0000,45.0000,3283.0000,2616.0000,37.0000,430.0000,412.0000,1.7077,0.6033,1.6585,0.5525
2,365550.0000,3363.0000,290933.0000,0.0000,4.0000,6.0000,0.2609,12.0000,46.0000,0.6451,2118.0000,3283.0000,0.6265,1639.0000,2616.0000,0.2105,8.0000,38.0000,0.2279,98.0000,430.0000,0.2087,86.0000,412.0000,46.0000,3283.0000,2616.0000,38.0000,430.0000,412.0000,2.4730,0.8736,2.4017,0.8002
3,365551.0000,2947.0000,370847.0000,0.0000,4.0000,6.0000,0.1429,6.0000,42.0000,0.6451,2118.0000,3283.0000,0.6265,1639.0000,2616.0000,0.1622,6.0000,37.0000,0.2279,98.0000,430.0000,0.2087,86.0000,412.0000,42.0000,3283.0000,2616.0000,37.0000,430.0000,412.0000,4.5160,1.5953,4.3857,1.4612
4,365552.0000,2948.0000,370847.0000,0.0000,4.0000,6.0000,0.3095,13.0000,42.0000,0.6451,2118.0000,3283.0000,0.6265,1639.0000,2616.0000,0.2432,9.0000,37.0000,0.2279,98.0000,430.0000,0.2087,86.0000,412.0000,42.0000,3283.0000,2616.0000,37.0000,430.0000,412.0000,2.0843,0.7363,2.0242,0.6744

In [31]:
features = pd.read_csv('../data/experiment_1/features.csv')
features.shape

(2156, 88)

In [32]:
features.columns

Index(['id', 'timestamp', 'prior_question_elapsed_time',
       'prior_question_had_explanation', 'part', 'kmean_cluster',
       'lect_user_part', 'lect_user_kmean_cluster', 'lect_user',
       'lect_user_part_concept', 'lect_user_kmean_cluster_concept',
       'lect_user_concept', 'lect_user_part_intention',
       'lect_user_kmean_cluster_intention', 'lect_user_intention',
       'lect_user_part_solving_question',
       'lect_user_kmean_cluster_solving_question',
       'lect_user_solving_question', 'lect_user_part_starter',
       'lect_user_kmean_cluster_starter', 'lect_user_starter',
       'user_sum_answered_correctly', 'user_count_answered_correctly',
       'user_mean_answered_correctly', 'user_ema_answered_correctly',
       'user_he_sum_answered_correctly', 'user_he_count_answered_correctly',
       'user_he_mean_answered_correctly', 'user_he_ema_answered_correctly',
       'user_sum_prior_question_elapsed_time',
       'user_count_prior_question_elapsed_time',
       'user_mean_prior_question_elapsed_time',
       'user_ema_prior_question_elapsed_time',
       'user_he_sum_prior_question_elapsed_time',
       'user_he_count_prior_question_elapsed_time',
       'user_he_mean_prior_question_elapsed_time',
       'user_he_ema_prior_question_elapsed_time', 'user_ucount_part',
       'user_ucount_kmean_cluster', 'user_he_ucount_part',
       'user_he_ucount_kmean_cluster', 'abs_chng_timestamp',
       'rel_chng_timestamp', 'rel_user_he_mean_answ', 'rel_user_he_ema_answ',
       'rel_user_he_mean_pqet', 'rel_user_he_ema_pqet', 'trend_user_mean_answ',
       'trend_user_he_mean_answ', 'trend_user_mean_pqet',
       'trend_user_he_mean_pqet', 'content_id',
       'content_mean_answered_correctly', 'content_sum_answered_correctly',
       'content_count_answered_correctly',
       'content_part_mean_answered_correctly',
       'content_part_sum_answered_correctly',
       'content_part_count_answered_correctly',
       'content_cl_mean_answered_correctly',
       'content_cl_sum_answered_correctly',
       'content_cl_count_answered_correctly',
       'content_he_mean_answered_correctly',
       'content_he_sum_answered_correctly',
       'content_he_count_answered_correctly',
       'content_he_part_mean_answered_correctly',
       'content_he_part_sum_answered_correctly',
       'content_he_part_count_answered_correctly',
       'content_he_cl_mean_answered_correctly',
       'content_he_cl_sum_answered_correctly',
       'content_he_cl_count_answered_correctly', 'content_user_count_user_id',
       'content_user_part_count_user_id', 'content_user_cl_count_user_id',
       'content_user_he_count_user_id', 'content_user_he_part_count_user_id',
       'content_user_he_cl_count_user_id', 'rel_content_part_mean_answ',
       'rel_content_he_part_mean_answ', 'rel_content_cl_mean_answ',
       'rel_content_he_cl_mean_answ', 'rel_user_content_mean_answ',
       'rel_user_content_he_mean_answ', 'rel_user_content_ema_answ',
       'rel_user_content_he_ema_answ', 'mul_user_content_mean_answ',
       'mul_user_content_ema_answ', 'mul_user_content_he_mean_answ',
       'mul_user_content_he_ema_answ'],
      dtype='object')

In [33]:
features.isna().sum(axis = 0).sum()

0

In [34]:
features.head()

,id,timestamp,prior_question_elapsed_time,prior_question_had_explanation,part,kmean_cluster,lect_user_part,lect_user_kmean_cluster,lect_user,lect_user_part_concept,lect_user_kmean_cluster_concept,lect_user_concept,lect_user_part_intention,lect_user_kmean_cluster_intention,lect_user_intention,lect_user_part_solving_question,lect_user_kmean_cluster_solving_question,lect_user_solving_question,lect_user_part_starter,lect_user_kmean_cluster_starter,lect_user_starter,user_sum_answered_correctly,user_count_answered_correctly,user_mean_answered_correctly,user_ema_answered_correctly,user_he_sum_answered_correctly,user_he_count_answered_correctly,user_he_mean_answered_correctly,user_he_ema_answered_correctly,user_sum_prior_question_elapsed_time,user_count_prior_question_elapsed_time,user_mean_prior_question_elapsed_time,user_ema_prior_question_elapsed_time,user_he_sum_prior_question_elapsed_time,user_he_count_prior_question_elapsed_time,user_he_mean_prior_question_elapsed_time,user_he_ema_prior_question_elapsed_time,user_ucount_part,user_ucount_kmean_cluster,user_he_ucount_part,user_he_ucount_kmean_cluster,abs_chng_timestamp,rel_chng_timestamp,rel_user_he_mean_answ,rel_user_he_ema_answ,rel_user_he_mean_pqet,rel_user_he_ema_pqet,trend_user_mean_answ,trend_user_he_mean_answ,trend_user_mean_pqet,trend_user_he_mean_pqet,content_id,content_mean_answered_correctly,content_sum_answered_correctly,content_count_answered_correctly,content_part_mean_answered_correctly,content_part_sum_answered_correctly,content_part_count_answered_correctly,content_cl_mean_answered_correctly,content_cl_sum_answered_correctly,content_cl_count_answered_correctly,content_he_mean_answered_correctly,content_he_sum_answered_correctly,content_he_count_answered_correctly,content_he_part_mean_answered_correctly,content_he_part_sum_answered_correctly,content_he_part_count_answered_correctly,content_he_cl_mean_answered_correctly,content_he_cl_sum_answered_correctly,content_he_cl_count_answered_correctly,content_user_count_user_id,content_user_part_count_user_id,content_user_cl_count_user_id,content_user_he_count_user_id,content_user_he_part_count_user_id,content_user_he_cl_count_user_id,rel_content_part_mean_answ,rel_content_he_part_mean_answ,rel_content_cl_mean_answ,rel_content_he_cl_mean_answ,rel_user_content_mean_answ,rel_user_content_he_mean_answ,rel_user_content_ema_answ,rel_user_content_he_ema_answ,mul_user_content_mean_answ,mul_user_content_ema_answ,mul_user_content_he_mean_answ,mul_user_content_he_ema_answ
0,365548.0000,290933.0000,38000.0000,0,4.0000,6.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,7.0000,0.1429,0.1730,1.0000,7.0000,0.1429,0.1730,160000.0000,8.0000,20000.0000,23361.5955,160000.0000,8.0000,20000.0000,23361.5955,3.0000,4.0000,3.0000,4.0000,98122.0000,0.3373,1.0000,1.0000,1.0000,1.0000,1.2107,1.2107,1.1681,1.1681,3364.0000,0.6000,27.0000,45.0000,0.6451,2118.0000,3283.0000,0.6265,1639.0000,2616.0000,0.5946,22.0000,37.0000,0.2279,98.0000,430.0000,0.2087,86.0000,412.0000,45.0000,3283.0000,2616.0000,37.0000,430.0000,412.0000,1.0752,0.3798,1.0442,0.3479,0.2381,0.2403,0.2883,0.2909,0.0857,0.1038,0.0849,0.1028
1,365549.0000,290933.0000,38000.0000,0,4.0000,6.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,2.0000,8.0000,0.2500,0.3020,2.0000,8.0000,0.2500,0.3020,198000.0000,9.0000,22000.0000,25645.7124,198000.0000,9.0000,22000.0000,25645.7124,4.0000,5.0000,4.0000,5.0000,0.0000,0.0000,1.0000,1.0000,1.0000,1.0000,1.2080,1.2080,1.1657,1.1657,3365.0000,0.3778,17.0000,45.0000,0.6451,2118.0000,3283.0000,0.6265,1639.0000,2616.0000,0.4324,16.0000,37.0000,0.2279,98.0000,430.0000,0.2087,86.0000,412.0000,45.0000,3283.0000,2616.0000,37.0000,430.0000,412.0000,1.7077,0.6033,1.6585,0.5525,0.6618,0.5781,0.7994,0.6984,0.0944,0.1141,0.1081,0.1306
2,365550.0000,290933.0000,38000.0000,0,4.0000,6.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,2.0000,9.0000,0.2222,0.2588,2.0000,9.0000,0.2222,0.2588,236000.0000,10.0000,23600.0000,27411.7936,236000.0000,10.0000,23600.0000,27411.7936,4.0000,5.0000,4.0000,5.0000,0.0000,0.0000,1.0000,1.0000,1.0000,1.0000,1.1647,1.1647,1.1615,1.1615,3363.0000,0.2609,12.0000,46.0000,0.6451,2118.0000,3283.0000,0.6265,1639.0000,2616.0000,0.2105,8.0000,38.0000,0.2279,98.0000,430.0000,0.2087,86.0000,412.0000,46.0000,3283.0000,2616.0000,38.0000,430.0000,412.0000,2.4730,0.8736,2.4017,0.8002,0.8519,1.0556,0.9922,1.2295,0.0580,0.0675,0.0468,0.0545
3,365551.0000,370847.0000,31333.0000,0,4.0000,6.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,2.0000,10.0000,0.2000,0.2245,2.0000,10.0000,0.2000,0.2245,267333.0000,11.0000,24303.0000,27931.5718,267333.0000,11.0000,24303.0000,27931.5718,4.0000,5.0000,4.0000,5.0000,79914.0000,0.2155,1.0000,1.0000,1.0000,1.0000,1.1226,1.1226,1.1493,1.1493,2947.0000,0.1429,6.0000,42.0000,0.6451,2118.0000,3283.0000,0.6265,1639.0000,2616.0000,0.1622,6.0000,37.0000,0.2279,98.0000,430.0000,0.2087,86.0000,412.0000,42.0000,3283.0000,2616.0000,37.0000,430.0000,412.0000,4.5160,1.5953,4.3857,1.4612,1.4000,1.2333,1.5717,1.3846,0.0286,0.0321,0.0324,0.0364
4,365552.0000,370847.0000,31333.0000,0,4.0000,6.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,2.0000,11.0000,0.1818,0.1967,2.0000,11.0000,0.1818,0.1967,298666.0000,12.0000,24888.8333,28353.7271,298666.0000,12.0000,24888.8333,28353.7271,4.0000,5.0000,4.0000,5.0000,0.0000,0.0000,1.0000,1.0000,1.0000,1.0000,1.0816,1.0816,1.1392,1.1392,2948.0000,0.3095,13.0000,42.0000,0.6451,2118.0000,3283.0000,0.6265,1639.0000,2616.0000,0.2432,9.0000,37.0000,0.2279,98.0000,430.0000,0.2087,86.0000,412.0000,42.0000,3283.0000,2616.0000,37.0000,430.0000,412.0000,2.0843,0.7363,2.0242,0.6744,0.5874,0.7475,0.6354,0.8085,0.0563,0.0609,0.0442,0.0478